html,
body {
    margin: 0;
    padding: 0;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    font-family: Arial, serif;
    font-size: 14px;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
}

#grid-canvas {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    z-index: 1;
}

#background-canvas,
#paint-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    z-index: 0;
}

#toolbar {
    position: fixed;
    top: 500px;
    left: 10px;
    z-index: 2;
}

#tools-btn {
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
}

#tools-panel {
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    padding: 5px;
    position: fixed;
    top: 530px;
    left: 10px;
    z-index: 2;
    /*display: flex;*/
    flex-direction: column;
    align-items: flex-end;
}

#tools-panel.tools-panel-visible {
    display: flex;
}

.hidden {
    display: none;
}